In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
from matplotlib.backends.backend_pdf import PdfPages
from patsy import dmatrices
from sklearn.cross_validation import train_test_split
from sklearn.svm import SVR
# Allows plots to appear directly in the notebook.
%matplotlib inline

C:\Users\Katherine\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
# read files into dataframe
df = pd.read_hdf("cleaned_store.h5", key="table_name", where='Journey_Pattern_ID == "00401001"', columns=['Timestamp', "Journey_Pattern_ID", "Time_Frame", "Vehicle_Journey_ID", "Week_Day", "Distance", "TravelTime", "TimeCategory"])
# read files into dataframe
#df = pd.read_csv("twelth_stage.csv")
df.head(1)

,Timestamp,Journey_Pattern_ID,Time_Frame,Vehicle_Journey_ID,Week_Day,Distance,TravelTime,TimeCategory
868,2012-11-12 13:01:23,00401001,2012-11-12,6462,0,10.693702,1953.0,2012-11-12 13:00:00

#look at only weekdays
#df = df.drop(df[(df.TimeFrame == 2012-11-11) | (df.TimeFrame == 2012-11-10 )].index)
df = df[df.TimeFrame != '2012-11-10']

#look at only 15s, 39s, and 18s
df = df[(df['LineId'] == 15)|(df['LineId'] == 39)]
#df.head(5)

In [3]:
#normalize cont data
def normalize(df):
    columns=['Distance']   
    for i in columns:
        df[i]= (df[i]-df[i].min()) / (df[i].max() - df[i].min())
    return df

normalize(df)

#show data frame
df.head(5)
df.tail(5)

,Timestamp,Journey_Pattern_ID,Time_Frame,Vehicle_Journey_ID,Week_Day,Distance,TravelTime,TimeCategory
745662,2013-01-27 19:56:26,00401001,2013-01-27,15946,6,0.335989,3980.0,2013-01-27 20:00:00
745663,2013-01-27 19:57:05,00401001,2013-01-27,15946,6,0.340195,4019.0,2013-01-27 20:00:00
745664,2013-01-27 19:57:47,00401001,2013-01-27,15946,6,0.344520,4061.0,2013-01-27 20:00:00
745665,2013-01-27 19:58:26,00401001,2013-01-27,15946,6,0.347860,4100.0,2013-01-27 20:00:00
745666,2013-01-27 19:59:07,00401001,2013-01-27,15946,6,0.352638,4141.0,2013-01-27 20:00:00

In [4]:
#convert from readable to datetime
df['Timestamp'] =pd.to_datetime(df['Timestamp'])

In [5]:
#make new column called hour and set to null
Hour = np.nan
df['Hour'] = Hour

In [6]:
#find the timestamp from the int64
#for index, row in df.iterrows():
    #hour = convert_and_pull(row['Timestamp'])
    #df.set_value(index,'Hour',hour)
df['Hour'] = df['Timestamp'].dt.hour

In [7]:
df['Hour'].value_counts()

18    20496
9     18896
10    18872
19    17732
17    17271
12    16519
11    16260
7     16109
13    15773
16    15372
8     15263
14    13465
15    12783
20    12513
6     11586
21     9844
22     9664
23     4216
0        17
Name: Hour, dtype: int64

In [8]:
#bin the hours into AM rush hour, normal, PM Rush hour, and nightlinks
def binning(col, cut_points, labels=None):
    #Define min and max values:
    min = 0
    max = 23
    #create list by adding min and max to cut_points
    break_points = [min] + cut_points + [max]
    if not labels:
        labels = range(len(cut_points)+1)
    bins = pd.cut(col,bins=break_points,labels=labels,include_lowest=True)
    return bins

In [9]:
cut_points = [2,7,9,15,18]
labels = ["NiteLink","Morning","AMRush","Day","PMRush","Evening"]
df["Hour_Bins"] = binning(df["Hour"], cut_points, labels)
print (pd.value_counts(df["Hour_Bins"], sort=False))

NiteLink       17
Morning     27695
AMRush      34159
Day         93672
PMRush      53139
Evening     53969
Name: Hour_Bins, dtype: int64

In [10]:
#remove non-essential information for RF from df_new
#this info is either non-dummied categorical or identification information
#del df['LineId']
del df['TimeCategory']

#this was added
#remove non-essential information for RF from df_new
#this info is either non-dummied categorical or identification information
del df['LineId']
del df['Long']
del df['Lat']
del df['BlockId']
del df['VehicleId']
del df['AtStop']

In [11]:
#get dummies
#JPID_dummies = pd.get_dummies(df.JourneyPatternId, prefix='JourneyPatternId')
#busop_dummies = pd.get_dummies(df.BusOperator, prefix='BusOperator')
weekday_dummies = pd.get_dummies(df['Week_Day'])
hour_bin_dummies = pd.get_dummies(df.Hour_Bins, prefix='Hour_Bins')
# concatenate the dummy variable columns onto the original DataFrame (axis=0 means rows, axis=1 means columns)
df= pd.concat([df,weekday_dummies,hour_bin_dummies], axis=1)
del df['Week_Day']
del df['Hour']
del df['Journey_Pattern_ID']
del df['Hour_Bins']
del df['Timestamp']
#get dummies
#JPID_dummies = pd.get_dummies(df.JourneyPatternId, prefix='JourneyPatternId')
#hour_bin_dummies = pd.get_dummies(df.Hour_Bins, prefix='Hour_Bins')
# concatenate the dummy variable columns onto the original DataFrame (axis=0 means rows, axis=1 means columns)
#df= pd.concat([df,JPID_dummies, hour_bin_dummies], axis=1)
#del df['Weekday']
#del df['Hour']
#del df['JourneyPatternId']
#del df['BusOperator']
#del df['VehicleJourneyId']
#del df['StopId']
#del df['Hour_Bins']
#del df['Timestamp']
df.head(1)

,Time_Frame,Vehicle_Journey_ID,Distance,TravelTime,0,1,2,3,4,5,6,Hour_Bins_NiteLink,Hour_Bins_Morning,Hour_Bins_AMRush,Hour_Bins_Day,Hour_Bins_PMRush,Hour_Bins_Evening
868,2012-11-12,6462,0.167223,1953.0,1,0,0,0,0,0,0,0,0,0,1,0,0

In [12]:

#df['Delay'] = df['Delay'].astype(np.int64)
df['Distance'] = df['Distance'].astype(np.int64)

In [13]:
#make the target feature it's own df
df_time = pd.concat([df['TravelTime'], df['Time_Frame']], axis=1)
#df_time = pd.concat([df['TravelTime'], df['TimeFrame']], axis=1)

In [14]:
#must remove target feature to fit to y later
del df['TravelTime']
del df['Time_Frame']
#del df['TimeFrame']

In [15]:
# Prepare the descriptive features
X = df
y = df_time.TravelTime

In [16]:
# Split the data into train and test sets
# Take a third (random) data samples as test data, rest as training data
# Note that this training set if very small and the model will not be very reliable due to this sample size problem.
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Training data:\n", pd.concat([X_train, y_train], axis=1))
print("\nTest data:\n", pd.concat([X_test, y_test], axis=1))

Training data:
         Vehicle_Journey_ID  Distance  0  1  2  3  4  5  6  Hour_Bins_NiteLink  \
761512                5612         0  0  0  0  0  1  0  0                   0
1005779               5569         0  0  0  1  0  0  0  0                   0
1519159               5455         0  1  0  0  0  0  0  0                   0
890035                5539         0  0  0  0  0  1  0  0                   0
1587756               5555         0  0  0  0  1  0  0  0                   0
496337                5651         0  0  0  1  0  0  0  0                   0
300533                6455         0  0  1  0  0  0  0  0                   0
203716                6409         0  0  1  0  0  0  0  0                   0
971300               11731         0  0  0  0  0  0  1  0                   0
605046               15894         0  0  0  0  0  0  0  1                   0
1758463               5512         0  0  0  1  0  0  0  0                   0
1001716               5561         0  0  1  0  0  0  0  0                   0
274769               12669         0  0  0  0  0  0  1  0                   0
1326408               5504         0  0  0  0  0  1  0  0                   0
878377                5596         0  1  0  0  0  0  0  0                   0
729515               15954         0  0  0  0  0  0  0  1                   0
1345963               5499         0  0  0  0  1  0  0  0                   0
178778                6376         0  1  0  0  0  0  0  0                   0
1464246               5423         0  0  1  0  0  0  0  0                   0
85304                 6483         0  0  0  0  0  1  0  0                   0
701602                5778         0  0  1  0  0  0  0  0                   0
1387788               5527         0  0  1  0  0  0  0  0                   0
1719553               5455         0  0  1  0  0  0  0  0                   0
367964                6487         0  0  0  1  0  0  0  0                   0
691172                5696         0  0  0  0  0  1  0  0                   0
775711                5812         0  0  0  1  0  0  0  0                   0
1063691               5545         0  0  0  1  0  0  0  0                   0
608809                5823         0  1  0  0  0  0  0  0                   0
1051458               5632         0  0  0  0  1  0  0  0                   0
39169                16676         0  0  0  0  0  0  0  1                   0
...                    ...       ... .. .. .. .. .. .. ..                 ...
213859               12596         0  0  0  0  0  0  1  0                   0
28641                 6464         0  1  0  0  0  0  0  0                   0
158560                6402         0  0  0  0  0  1  0  0                   0
1568273               5436         0  0  0  0  1  0  0  0                   0
451092               11855         0  0  0  0  0  0  1  0                   0
1402029               5520         0  0  0  0  1  0  0  0                   0
331397                6328         0  0  0  1  0  0  0  0                   0
556403                5796         0  0  1  0  0  0  0  0                   0
1341342               5572         0  0  0  0  0  1  0  0                   0
1130254               5505         0  0  0  0  0  1  0  0                   0
592697                5728         0  0  0  0  0  1  0  0                   0
833709                5652         0  1  0  0  0  0  0  0                   0
582198               15885         0  0  0  0  0  0  0  1                   0
672833                5669         0  0  0  0  1  0  0  0                   0
1518601               5586         0  0  1  0  0  0  0  0                   0
1133987               5550         0  0  0  0  0  1  0  0                   0
1620133               5588         0  0  0  1  0  0  0  0                   0
420140               11919         0  0  0  0  0  0  1  0                   0
1400831               5541         0  0  0  0  1  0  0  0                   0
326880               12684         0  0  0  0  0  0  1  0                   0
1233152               5520         0  0  0  0  0  1  0  0                   0
1129351               5658         0  0  0  1  0  0  0  0                   0
163856               12692         0  0  0  0  0  0  1  0                   0
835640                5754         0  0  0  0  1  0  0  0                   0
158871                6457         0  0  1  0  0  0  0  0                   0
16175                 6384         0  0  0  0  1  0  0  0                   0
1474266               5465         0  0  1  0  0  0  0  0                   0
852118               11678         0  0  0  0  0  0  1  0                   0
642960               11726         0  0  0  0  0  0  1  0                   0
500994               15863         0  0  0  0  0  0  0  1                   0

         Hour_Bins_Morning  Hour_Bins_AMRush  Hour_Bins_Day  Hour_Bins_PMRush  \
761512                   0                 1              0                 0
1005779                  0                 1              0                 0
1519159                  1                 0              0                 0
890035                   0                 0              0                 1
1587756                  0                 0              1                 0
496337                   0                 0              1                 0
300533                   0                 1              0                 0
203716                   1                 0              0                 0
971300                   0                 0              0                 1
605046                   0                 0              1                 0
1758463                  0                 1              0                 0
1001716                  1                 0              0                 0
274769                   0                 0              0                 0
1326408                  0                 0              0                 1
878377                   0                 0              0                 0
729515                   0                 0              0                 1
1345963                  0                 0              0                 1
178778                   1                 0              0                 0
1464246                  1                 0              0                 0
85304                    0                 0              0                 0
701602                   0                 0              1                 0
1387788                  0                 0              1                 0
1719553                  1                 0              0                 0
367964                   0                 0              0                 1
691172                   0                 0              1                 0
775711                   0                 1              0                 0
1063691                  0                 0              1                 0
608809                   0                 0              0                 0
1051458                  0                 1              0                 0
39169                    0                 0              1                 0
...                    ...               ...            ...               ...
213859                   0                 0              1                 0
28641                    0                 0              1                 0
158560                   0                 1              0                 0
1568273                  0                 0              1                 0
451092                   1                 0              0                 0
1402029                  0                 0              0                 0
331397                   0                 0              1                 0
556403                   0                 0              0                 0
1341342                  0                 0              0                 1
1130254                  0                 0              1                 0
592697                   0                 0              0                 1
833709                   0                 0              0                 1
582198                   0                 0              0                 0
672833                   1                 0              0                 0
1518601                  0                 0              0                 1
1133987                  0                 0              1                 0
1620133                  0                 0              0                 1
420140                   0                 0              0                 1
1400831                  0                 0              0                 0
326880                   0                 0              1                 0
1233152                  0                 1              0                 0
1129351                  0                 0              0                 1
163856                   0                 0              0                 0
835640                   1                 0              0                 0
158871                   0                 0              1                 0
16175                    1                 0              0                 0
1474266                  1                 0              0                 0
852118                   1                 0              0                 0
642960                   0                 0              0                 0
500994                   0                 1              0                 0

         Hour_Bins_Evening  TravelTime
761512                   0         0.0
1005779                  0      3390.0
1519159                  0      1189.0
890035                   0      4177.0
1587756                  0      2166.0
496337                   0      3748.0
300533                   0         0.0
203716                   0       777.0
971300                   0      2021.0
605046                   0      3599.0
1758463                  0      5327.0
1001716                  0      1624.0
274769                   1      3641.0
1326408                  0      3548.0
878377                   1      4063.0
729515                   0      2960.0
1345963                  0      2098.0
178778                   0       640.0
1464246                  0       346.0
85304                    1       765.0
701602                   0      4430.0
1387788                  0      4862.0
1719553                  0      3124.0
367964                   0      1437.0
691172                   0      1295.0
775711                   0      1974.0
1063691                  0      1847.0
608809                   1       980.0
1051458                  0       675.0
39169                    0      3598.0
...                    ...         ...
213859                   0      1041.0
28641                    0      4145.0
158560                   0      4660.0
1568273                  0      1449.0
451092                   0      1162.0
1402029                  1      3964.0
331397                   0      1198.0
556403                   1      3525.0
1341342                  0       822.0
1130254                  0      3898.0
592697                   0      5196.0
833709                   0      4510.0
582198                   1      3375.0
672833                   0      1379.0
1518601                  0      3599.0
1133987                  0       425.0
1620133                  0       734.0
420140                   0      1160.0
1400831                  1      1824.0
326880                   0      1320.0
1233152                  0      3802.0
1129351                  0      5274.0
163856                   1      3314.0
835640                   0      1180.0
158871                   0      4559.0
16175                    0         0.0
1474266                  0      3482.0
852118                   0      1963.0
642960                   1      3418.0
500994                   0      1109.0

[183855 rows x 16 columns]

Test data:
         Vehicle_Journey_ID  Distance  0  1  2  3  4  5  6  Hour_Bins_NiteLink  \
244694                6386         0  0  0  0  1  0  0  0                   0
1408795               5520         0  0  0  1  0  0  0  0                   0
715050                5543         0  0  0  0  0  1  0  0                   0
3554                  6316         0  0  0  0  1  0  0  0                   0
1146422               5497         0  0  0  0  0  1  0  0                   0
1397148               5663         0  0  0  1  0  0  0  0                   0
851345               11684         0  0  0  0  0  0  1  0                   0
866284               11703         0  0  0  0  0  0  1  0                   0
584287                5684         0  1  0  0  0  0  0  0                   0
423167               11970         0  0  0  0  0  0  1  0                   0
364383                6392         0  0  0  0  0  1  0  0                   0
1178956               5645         0  0  0  1  0  0  0  0                   0
1267116               5503         0  0  0  0  1  0  0  0                   0
524219                5675         0  0  0  0  1  0  0  0                   0
1316947               5571         0  0  0  1  0  0  0  0                   0
914864                5588         0  1  0  0  0  0  0  0                   0
615300                5748         0  0  0  0  1  0  0  0                   0
691194                5696         0  0  0  0  0  1  0  0                   0
879907                5654         0  1  0  0  0  0  0  0                   0
509284                5792         0  1  0  0  0  0  0  0                   0
1256221               5652         0  0  1  0  0  0  0  0                   0
111325                6394         0  0  0  0  0  1  0  0                   0
938834                5724         0  0  0  1  0  0  0  0                   0
1445927               5577         0  0  1  0  0  0  0  0                   0
1041619               5525         0  1  0  0  0  0  0  0                   0
820143               11784         0  0  0  0  0  0  1  0                   0
163997               15961         0  0  0  0  0  0  0  1                   0
798675                5817         0  0  1  0  0  0  0  0                   0
205962                6492         0  0  0  1  0  0  0  0                   0
927200               11714         0  0  0  0  0  0  1  0                   0
...                    ...       ... .. .. .. .. .. .. ..                 ...
992840                5546         0  1  0  0  0  0  0  0                   0
1632674               5440         0  0  0  0  1  0  0  0                   0
1017579               5627         0  0  0  1  0  0  0  0                   0
1679381               5451         0  0  0  1  0  0  0  0                   0
797010                5571         0  0  0  0  0  1  0  0                   0
270855                6415         0  0  0  0  1  0  0  0                   0
796447                5760         0  0  0  0  1  0  0  0                   0
426024                6343         0  0  0  0  1  0  0  0                   0
119907                6362         0  0  0  1  0  0  0  0                   0
1220492               5524         0  0  0  0  0  1  0  0                   0
40777                16649         0  0  0  0  0  0  0  1                   0
1600010               5536         0  0  0  0  1  0  0  0                   0
812403                5769         0  0  0  0  1  0  0  0                   0
86532                 6492         0  0  0  0  0  1  0  0                   0
403393               15873         0  0  0  0  0  0  0  1                   0
331544                6318         0  0  0  0  1  0  0  0                   0
1057481               5648         0  0  0  0  0  1  0  0                   0
398759               15881         0  0  0  0  0  0  0  1                   0
54870                12605         0  0  0  0  0  0  1  0                   0
1154633               5671         0  0  0  0  0  1  0  0                   0
1582234               5529         0  0  1  0  0  0  0  0                   0
1083275               5571         0  0  0  0  1  0  0  0                   0
430089                6483         0  0  0  0  1  0  0  0                   0
703246               15865         0  0  0  0  0  0  0  1                   0
873725                5823         0  0  0  1  0  0  0  0                   0
82400                16727         0  0  0  0  0  0  0  1                   0
285109               12637         0  0  0  0  0  0  1  0                   0
199140                6371         0  0  0  0  1  0  0  0                   0
12355                16642         0  0  0  0  0  0  0  1                   0
71768                 6375         0  0  0  0  0  1  0  0                   0

         Hour_Bins_Morning  Hour_Bins_AMRush  Hour_Bins_Day  Hour_Bins_PMRush  \
244694                   0                 0              1                 0
1408795                  0                 0              0                 0
715050                   1                 0              0                 0
3554                     1                 0              0                 0
1146422                  0                 0              1                 0
1397148                  0                 0              0                 0
851345                   1                 0              0                 0
866284                   0                 1              0                 0
584287                   0                 0              0                 1
423167                   0                 0              0                 1
364383                   0                 1              0                 0
1178956                  0                 0              0                 0
1267116                  0                 1              0                 0
524219                   0                 0              0                 1
1316947                  0                 0              1                 0
914864                   0                 0              1                 0
615300                   0                 1              0                 0
691194                   0                 0              1                 0
879907                   0                 0              0                 0
509284                   0                 1              0                 0
1256221                  0                 0              1                 0
111325                   0                 0              1                 0
938834                   0                 0              0                 1
1445927                  0                 0              0                 0
1041619                  0                 0              1                 0
820143                   0                 0              0                 0
163997                   0                 0              1                 0
798675                   0                 0              1                 0
205962                   0                 0              0                 1
927200                   0                 0              1                 0
...                    ...               ...            ...               ...
992840                   1                 0              0                 0
1632674                  0                 0              0                 1
1017579                  0                 1              0                 0
1679381                  0                 0              0                 1
797010                   0                 0              1                 0
270855                   0                 0              1                 0

In [17]:
X_train.dtypes

Vehicle_Journey_ID    object
Distance               int64
0                      uint8
1                      uint8
2                      uint8
3                      uint8
4                      uint8
5                      uint8
6                      uint8
Hour_Bins_NiteLink     uint8
Hour_Bins_Morning      uint8
Hour_Bins_AMRush       uint8
Hour_Bins_Day          uint8
Hour_Bins_PMRush       uint8
Hour_Bins_Evening      uint8
dtype: object

In [ ]:
clf= SVR(C=1.0, epsilon=0.2, kernel='linear')

In [ ]:
svm_train = clf.fit(X_train, y_train)

In [ ]:
print (clf.score(X_test,y_test))

In [ ]:
predictions =svm_train.predict(X_test)

In [ ]:
df_true_vs_predicted = pd.DataFrame({'ActualTime': y_test, 'PredictedTime': predictions})
df_true_vs_predicted

In [ ]:
# Custom Metric
abs(abs(y_test) - abs(predictions)).mean()

In [ ]:
# Print the Mean Squared Error of the model on the training set
mse = ((y_test - predictions)** 2).mean()
print("\nMean Squared Error:\n", mse)

In [ ]:
from math import sqrt

sqrt(mse)